@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Global Rules */
:root{
    --primary-color:rgb(34, 36, 91);
    /* Ancienne couleur header : rgb(37, 52, 121)*/
    --secondary-color:white;
    --third-color:rgb(7, 7, 7);
    --darker-color:rgb(14, 25, 63);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body::-webkit-scrollbar 
{
    width: 0px;
    background: transparent;
}

ul{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(118deg, rgba(2,0,36,1) 0%, rgba(0,38,126,1) 100%, rgba(10,10,10,1) 100%);
    background: -webkit-linear-gradient(118deg, rgba(2,0,36,1) 0%, rgba(0,38,126,1) 100%, rgba(10,10,10,1) 100%);
    background: linear-gradient(118deg, rgba(2,0,36,1) 0%, rgba(0,38,126,1) 100%, rgba(10,10,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#0a0a0a",GradientType=1);
}

h1{
    text-align: center;
    color: white;
}

h2{
    font-size: 29px;
    text-align: center;
    color: wheat;
}

a{
    color: white;
}


ul,li{
    color: var(--secondary-color);
    text-align: left;
    width: 92%;
    list-style-type: none;
}

header{
    background-color: var(--darker-color);
    color: var(--secondary-color);
    width: 100%;
    /* height:100px; */
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 3;
}

.bg-header{
    z-index: 1;
    position: absolute;
    top: 0px;
    background-color: var(--darker-color);
    width: 100%;
    height: 200px;
}

.arrow-bloc{
    position: fixed;
    top: -20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    opacity: 0;
    background-color: var(--darker-color);
    z-index: 2;
}
.arrow-bloc p{
    color: wheat;
    font-weight: 900;
    
}

.arrow-moves{
    animation: arrowMoves 10s infinite;
    animation-delay: 3s;
}

.arrow-up{
    max-width: 20px;
    color: wheat;
}

.logoPromo
{
    width: 4em;
    height: 4em;
    border-radius: 50px;
}

header a{
    text-decoration: none;
   
}

.titre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--darker-color);
     z-index: 3;
     height: 100px;
}
/* global flexbox */

footer,.col-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* footer */

footer{
    height: 100px;
    min-height: 70px;
    color: var(--secondary-color);
    background-color: var(--darker-color);
}

footer p{
    height: 100%;
    display: flex;
    align-items: center ;
}

/* navbar */

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--darker-color);
    z-index: 4;
    transition: 0.1s;
    height: 100px;
}

.links{
    width: 100%;
    display: flex;
}

.links a{
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: underline;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--darker-color);
}

/* search bloc */

.searchbar{
    width: 250px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--darker-color);
}

.searchbar input{
    background-color: var(--darker-color);
    color: var(--secondary-color);
    width: 170px;
    border: none;
    margin-bottom: 5px;
}

.searchbar input::placeholder{
    color: var(--secondary-color);
    font-style: italic;
}

.searchbar input:focus{
    outline: none;
}

.searchbar i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.fa-magnifying-glass{
    cursor: pointer;
}

/* input valid search after */
.boxValid{
    width: 95%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.boxValid p{
    color: var(--secondary-color);
}

.valid-def{
    width: 70px;
    height: 28px;
    background-color: var(--darker-color);
    color: var(--secondary-color);
    border: solid var(--secondary-color) 1px;
    border-radius: 15px;
    cursor: pointer;
}

.strong{
    font-weight: bolder;
    color: wheat;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* main */

.main{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    min-height: 80vh;
    margin-bottom: 50px;
    margin-top:350px;
}



.mainIndex{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    min-height: 80vh;
    background-color: var(--third-color);
    margin-bottom: 50px;
    padding-top: 350px;
    padding-bottom: 50px;
}

.mainIndex a{
    color:wheat;
    font-style: italic;

}

.mainIndex p,.mainIndex li,.mainIndex h2
{
    height: 50px;
}

.mainIndex ul{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainIndex li{
    list-style-type: decimal;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* annexes*/
.mainAnnexe{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    min-height: 80vh;
    background-color: var(--third-color);
    margin-bottom: 50px;
    margin-top: 350px;
}

.mainAnnexe a{
    width: 85%;
    text-align: center;
    margin-bottom: 15px;
}

.fa-file-pdf,.fa-table,.fa-image{
    margin-left: 10px;
}

.fa-file-pdf{
    color: firebrick;
}

.fa-table{
    color: greenyellow;
}

.fa-image{
    color: rgb(81, 135, 179);
}

/* home */

.important-title{
    font-size: 25px;
}

.welcome{
    text-align: center;
    width: 90%;
    margin-bottom: 70px;
}

.welcome, .desc{
    color: var(--secondary-color);

}

.desc{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 85%;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: var(--secondary-color);
}


/* blocs definitions */

.tabline{
    width: 95%;
    min-height: 80px;
    background-color: var(--darker-color);
    border: solid var(--secondary-color) 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.col-left,.col-right{
    height: 100%;
}

.col-left{
    width: 25%;
}

.definition{
    text-transform: uppercase;
}

.col-right{
    position: relative;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: 75%;
}

.col-left p, .col-right p{
    color:var(--secondary-color);
    width: 95%;
    height: 100%;
}

.col-left p{
    text-align: center;
}

/* gestion de projet */
main{
    width: 100%;
    min-height: 1080px;
    display: flex;
    justify-content: center;
    background-color: var(--third-color);
}

main > *{
    padding-top: 200px;
}

aside{
    background-color: var(--darker-color);
    width: 300px;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -300px;
    transition: 0.3s;
    font-weight: bolder;
    text-transform: uppercase;
}

/* zoom images methodes gestion  */

.zoom-img{
    z-index: 3;
    position: fixed;
    display: none;
}

.nav-title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: wheat;
    text-decoration: underline;
}


.summary{
    font-size: 25px;
}

.summary,nav{
    width: 100%;
    text-align: center;
    color: white;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.container-scrum{
    background-color: var(--third-color);
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    text-align: center;
}

.container-scrum div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* height: 80%; */
}

.container-scrum div p, .container-scrum div li {
    color: white;
    max-width: 1140px;
}

.container-scrum ul, .container-scrum li{
    width: 100%;
    list-style-type: disc;
}

.scrum-description {
    width: 90%;
    display: flex;
    flex-direction: column;
}



.container-kanban,.container-SAFe, .container-PRINCE2, .container-water,.container-pert, .container-scrum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    text-align: center;
    background-color: var(--third-color);
    width:100%;
}

.container-PRINCE2,.container-pert {
    color: white;
}

.container-gestion{
    width: 80%;
    max-width: 1110px;
}

.container-gestion ul{
    margin-top: 50px;
}


.container-gestion,.container-SAFe div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.water-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pert-title{
    margin-top: 50px;
    margin-bottom: 50px;
}

.prince-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
    max-width: 70%;
}

.pert-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 70%;
}


.water-div h2,.prince-div h2{
    margin-bottom: 50px;
}

.container-gestion p{
    color: white;
}

.bloc-image-right ul{

    max-width: 1140px;
}

.bloc-image-right li{
    margin-right: 0;
    margin-top: 20px;
}

.container-kanban h2,.container-gestion p,.container-water h2,.container-PRINCE2 h2, .container-scrum h2 {
    margin-top: 50px;
}

.kanban-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kanban-para{
    color: white;
    max-width: 70%;
    text-align: justify;
}

.water-para,.prince-para{
    display: flex;
    align-items: center;
    color: white; 
    text-align: justify;
    margin-bottom: 20px;
}


.water-para{
    max-width: 1140px;
    justify-content: center;
}

.fa-circle-plus,.fa-circle-minus{
    margin-right: 20px;
}

.fa-circle-plus{
    color: rgb(76, 255, 5);
}

.fa-circle-minus{
    color: rgb(255, 0, 21);
}

.bloc-image-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bloc-image-right-scrum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bloc-image-right-scrum h3 {
    padding-top: 45px;
    color: white;
}

.bloc-image-right-scrum h4 {
    padding-top: 35px;
    color: rgb(245, 123, 67);
}

.bloc-image-scrum, .bloc-image-scrum-2, .bloc-image-scrum-3, .bloc-image-scrum-4, .bloc-image-scrum-5, .bloc-image-scrum-6, .bloc-image-scrum-7, .bloc-image-scrum-8, .bloc-image-scrum-9, .bloc-image-scrum-10, .bloc-image-scrum-11, .bloc-image-scrum-12, .bloc-image-scrum-13 {
    width: 50%;
    height: 400px;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #FFFFFF;
}

.bloc-image-pert {
    width: 50%;
    height: 400px;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #FFFFFF;
}

.bloc-image-right-scrum p {
    color: white;
    text-align: justify;
    margin-top: 25px;
}

.bloc-image-right-scrum ul{
    max-width: 1140px;
}

.bloc-image-right-scrum li{
    margin-top: 20px;
    /* margin-left: 70px;
    margin-top: 20px; */
}

.bloc-image-right-scrum ul > ul li {
    margin-left: 100px;
}

.bloc-image,.bloc-image-2,.bloc-image-water,.bloc-image-water-2,.bloc-image-cycle {
    width: 50%;
    height: 400px;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #FFFFFF;
    cursor: pointer;
}

.bloc-image-cycle-2{
    width: 50%;
    height: 400px;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #FFFFFF;
}

.bloc-image p,.bloc-image-2 p,.bloc-image-water p,.bloc-image-water-2 p,.bloc-image-cycle p,.bloc-image-cycle-2 p {
    background-color: rgb(48, 47, 47);
    font-style: italic;
    width: 100% !important;
}

.fa-xmark{
    color: rgb(238, 122, 14);
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 4;
    font-size: 28px;
    cursor: pointer;
}

.bloc-image{
    background-image: url("../images/kanban.webp");
}

.bloc-image-2{
    background-image: url("../images/kanban2.webp");
}

.bloc-image-water{
    background-image: url("../images/iu.webp");
}

.bloc-image-water-2{
    background-image: url("../images/Gantt.webp");
}

.bloc-image-cycle{
    background-image: url("../images/cycleEnV.webp");
}

.bloc-image-cycle-2{
    background-image: url("../images/pair.webp");
    background-position: center;
}

.bloc-image-scrum {
    background-image: url("../images/schema_scrum_1.webp");
}

.bloc-image-scrum-2 {
    background-image: url("../images/schema_scrum_2.webp");
}

.bloc-image-scrum-3 {
    background-image: url("../images/schema_scrum_3.webp");
}

.bloc-image-scrum-4 {
    background-image: url("../images/schema_scrum_4.webp");
}

.bloc-image-scrum-5 {
    background-image: url("../images/schema_scrum_5.webp");
}

.bloc-image-scrum-6 {
    background-image: url("../images/schema_scrum_6.webp");
}

.bloc-image-scrum-7 {
    background-image: url("../images/schema_scrum_7.webp");
}

.bloc-image-scrum-8 {
    background-image: url("../images/schema_scrum_8.webp");
}

.bloc-image-scrum-9 {
    background-image: url("../images/schema_scrum_9.webp");
}

.bloc-image-scrum-10 {
    background-image: url("../images/schema_scrum_10.webp");
}

.bloc-image-scrum-11 {
    background-image: url("../images/schema_scrum_11.webp");
}

.bloc-image-scrum-12 {
    background-image: url("../images/schema_scrum_12.webp");
}

.bloc-image-scrum-13 {
    background-image: url("../images/schema_scrum_13.webp");
}

.bloc-image-pert {
    background-image: url("../images/diag_pert.webp");
}

.bloc-image-right p,.container-SAFe div p{
    width: 70%;
    color: white;
    text-align: justify;
    margin-top: 50px;
}

.container-pert h2{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.pert-div p{
    text-align: justify;
}

.saut-ligne{
    margin-bottom: 20px;
}


/* animation aside gestion */

aside i{
    color:wheat;
    font-size: 40px;
    position: absolute;
    top:50%;
    left:305px;
    cursor: pointer;
    animation: arrowMovesX 3s infinite;
}

.fa-circle-arrow-left{
    visibility: hidden;
}
/* images lexique sql */

.illu-lexique{
    width: 450px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}


.illu-lexique:hover {opacity: 0.7;}

.modal {
  visibility: hidden;
  position: fixed; 
  z-index: 4; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9); 
}


.modal-content {
  margin: 250px auto 0;
  display: block;
  width: 100%;
  max-width: 900px;
}


.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  text-transform: capitalize;
}


.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 44px;
  font-weight: bold;
  transition: 0.1s;
  z-index:99;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.done {
    text-decoration: line-through;
}


/* media queries  */

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

@media screen and (max-width:900px)
{
    .navbar a{
        width: 33%;
        font-size: 12px;
    }

    
}

@media screen and (max-width:635px)
{
    .illu-lexique{
        width: 250px;

    }
}

@media screen and (max-width : 514px)
{
    h1{
        font-size: 23px;
    }

    .mainIndex ul,.strong{
        width: 90%;
    }

    .strong{
        text-align: center;
        margin-bottom: 50px;
    }

    .each-modif li,.mainIndex p{
        height:130px;
    }
}

@media screen and (max-width : 400px)
{
    header{
        align-items: center;
    }

    h1{
        color: white;
    }

    h1, h2,.strong{
        font-size: 20px;
        
        width: 90%;
        margin: auto;
    }
    .main p{
        font-size: 12px;
    }

    .col-left{
        width: 35%;
    }

    .col-right{
        width: 65%;
    }

    .illu-lexique{
        width: 120px;
    }

    .navbar{
        flex-direction: column;
        height: 200px;

    }

    .links{
        flex-direction: column;
        align-items: center;
    }

    .links a{
        margin-top: 5px;
        text-align: center;
    }

    .searchbar{
        height: 25px;
    }
    

    footer{
        height: calc(100vh - 70vh - 400px);
    }
}

@media screen and (max-width:374px){
    .arrow-bloc p{
        font-size: 5vw;
    }
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@keyframes arrowMoves{
    0%{opacity: 0;transform:translateY(0px);}
    50%{transform:translateY(20px);opacity: 1;}
    100%{transform:translateY(0px);opacity: 0;}
}

@keyframes arrowMovesX{
    0%{opacity: 0;transform:translateX(0px);}
    50%{transform:translateX(20px);opacity: 1;}
    100%{transform:translateX(0px);opacity: 0;}
}
